<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a20uiyoparker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.20UIYoParker">
        <activity android:name=".Start" />
        <activity android:name=".Overview" />
        <activity android:name=".List_view" />
        <activity android:name=".Profile_A" />
        <activity android:name=".Wallets_A" />
        <activity android:name=".MyBooking_A" />
        <activity android:name=".Home_A" />
        <activity android:name=".Details" />
        <activity android:name=".Refer_Earn" />
        <activity android:name=".Edit_Profile_1" />
        <activity android:name=".Rate_Reviews" />
        <activity android:name=".Reviews" />
        <activity android:name=".EditProfile" />
        <activity android:name=".BottomNavBar" />
        <activity android:name=".Success" />
        <activity android:name=".Verification" />
        <activity android:name=".Phone" />
        <activity android:name=".Locations" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>